<!Doctype html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Yashpal Singh | Application of DFT in electro-catalysis</title>
        <meta name="description" content="I'm a quantum chemistry scholar, working on various areas like Application of DFT in electro-catalysis, Machine learning from the perspectives of quantum chemistry.">
        <meta name="author" content="Juho Kim">
        <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="container-fluid">
            <!-- Example row of columns -->
            <div class="row-fluid">
                <div class="span4">
                    <div id="left">
						<h2 class="name-display"><a href="//yashpalsingh.com/">Yashpal Singh</a></h2>
						<ul class="nav">
		                    <li class="active"><a href="#">Home</a></li>
		                    <li class="inactive"><a href="publications.html">Publications</a></li>
		                    <li class="inactive"><a href="Presentation.html">Presentation</a></li>
		                    <!-- <li class="inactive"><a href="teaching.php">Teaching</a></li>
		                    <li class="inactive"><a href="talks.php">Talks</a></li> -->
		                    <li class="inactive"><a href="References.html">References</a></li>
		            	</ul>

						<img class="profile" src="yash_profile.jpg" alt="profile photo"><br /><br />
					    Research Scholar
					    <br/>
					    <a href="http://eewseng.kaist.ac.kr/">Graduate School of EEWS</a>
					    <br/>
					    <a href="http://kaist.ac.kr">KAIST</a>
					    <br/><br/>
					    <a href="files/yash_cv.pdf">Curriculum Vitae (PDF)</a>
					    <br/><br/>
					    <div class="logo-wrapper">
					    	<a href="http://eewseng.kaist.ac.kr/">
					    		<img src="images/EEWS_logo.gif" width="130px" style="margin-left:10px"/>
					   </div>

					</div>
</body>
